.template1 {
	min-width: 1200px;
	max-width: 1200px;
	height: 100%;
	width: 100%;
	padding: 0;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

	.sectionHeader {
		margin-top: 40px;
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 30px;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
		border-top: #212121 3px solid;
		border-bottom: #212121 3px solid;
	}

	.topSection {
		.leftPanel {
			min-width: 700x;
			max-width: 700x;

			.nameHeader {
				font-weight: 800;
				font-size: 40px;
			}

			.designation {
				font-weight: 700;
				font-size: 25px;
				color: gray;
				;
			}

			.profileSummary {
				font-weight: 600;
				font-size: 16px;
				text-align: justify;
			}
		}

		.rightPanel {
			padding-left: 20px;
			min-width: 500px;
			max-width: 500px;
			font-weight: 600;

			.content {
				text-align: right;

				i {
					margin-left: 10px;
				}
			}
		}
	}

	.skills {

		.skillSmallHeader {
			margin-bottom: 5px;
			font-weight: 700;
			font-size: 18px;
			letter-spacing: 1px;
		}

		.leftPanel {
			min-width: 600px;
			max-width: 600px;
			width: 100%;
			padding-right: 20px;
		}

		.rightPanel {
			min-width: 600px;
			max-width: 600px;
			padding-left: 20px;
		}
	}

	.experienceContainer {
		.experience {
			.leftPanel {
				min-width: 400px;
				max-width: 400px;

				.designation {
					font-weight: 700;
					font-size: 21px;
					color: black;
					text-transform: uppercase;
				}

				.companyName {
					font-weight: 700;
					font-size: 18px;
					color: gray;
					text-transform: capitalize;
				}

				.duration {
					font-weight: 700;
					font-size: 15px;
					color: gray;
					;
					text-transform: capitalize;
					font-style: italic;
				}

				.projectWorked {
					.header {
						margin-top: 20px;
						font-weight: 700;
						font-size: 20px;
					}

					ul {
						font-weight: 600;
						letter-spacing: 0.5px;
						font-size: 15px;
					}
				}
			}

			.rightPanel {
				min-width: 700px;
				max-width: 700px;
				padding-left: 20px;

				.responsibilities {
					.header {
						margin-top: 20px;
						font-weight: 700;
						font-size: 20px;
					}

					ul {
						font-weight: 600;
						letter-spacing: 0.5px;
						font-size: 15px;
					}
				}

			}
		}
	}

	.projectContainer {
		.projectItems {
			margin-top: 10px;
			margin-bottom: 30px;

			.leftPanel {
				min-width: 400px;
				max-width: 400px;

				.projectTitle {
					font-weight: 700;
					font-size: 21px;
					color: black;
					text-transform: uppercase;
				}

				.projectDuration {
					font-weight: 700;
					font-size: 15px;
					color: gray;
					;
					text-transform: capitalize;
					font-style: italic;
				}

				.projectTechStacks {
					.header {
						margin-top: 20px;
						font-weight: 700;
						font-size: 20px;
					}

					font-weight: 600;
					letter-spacing: 0.5px;
					font-size: 15px;
				}

			}

			.rightPanel {
				min-width: 700px;
				max-width: 700px;
				padding-left: 20px;

				.projectLearnings {
					font-weight: 600;
					letter-spacing: 0.5px;
					font-size: 15px;
				}
			}
		}
	}

	.certificateContainer {

		.certificateTitle {
			font-weight: 700;
			font-size: 18px;
			color: black;
			text-transform: uppercase;
		}


		.certificateYear {
			font-weight: 700;
			font-size: 15px;
			color: gray;
			text-transform: capitalize;
		}

		.certificateInstitute {
			font-weight: 700;
			font-size: 12px;
			color: gray;
			text-transform: capitalize;
			font-style: italic;
		}
	}

	.educationContainer {
		.qualificationTitle {
			font-weight: 700;
			font-size: 18px;
			color: black;
			text-transform: uppercase;
		}

		.qualificationInstitute {
			font-weight: 700;
			font-size: 13px;
			color: gray;
			;
			text-transform: capitalize;
		}

		.qualificationYear {
			font-weight: 700;
			font-size: 15px;
			color: gray;
			;
			text-transform: capitalize;
			font-style: italic;
		}

		.qualificationMarks {
			font-weight: 700;
			font-size: 15px;
			color: gray;
			;
			text-transform: capitalize;
			font-style: italic;
		}
	}
}